.vscode
**/__pycache__/

/data
/eval_result

assets/objects/ipt
assets/objects/opt
assets/objects/BlueBlock*
assets/objects/GreenBlock*
assets/objects/OrangeBlock*
assets/objects/textures
assets/objects/.thumbs

assets/textures/*
!assets/textures/Cherry*

replay
traj*

policy/ACT_UniT
/*.ipynb
/.codex
/third_party/*
!/third_party/TacEx

/assets/embodiments/ARX-X5
/*.png
/policy/**/*.png
/policy/**/*.pkl
/policy/**/*.ckpt

/.env
envs/insert_tube.py
